{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="welcome">
        <img class="welcome-image" src="{% static 'images/logo/textlogo-background-removed.png' %}" alt="communitea gaming">
        <ul class="welcome-links">
            <li class="welcome-links_item">
                <a href="{% url 'events' %}">What's on</a>
            </li>
            <li class="welcome-links_item">
                <a href="{% url 'bookings:select_table' %}">Book a table</a>
            </li>
            <li class="welcome-links_item">
                <a href="{% url 'about' %}">About us</a>
            </li>
        </ul>
    </div>
    <div class="find-us">
        <h1>Find us</h1>
        <ul class="contact-list">
            <li><a href="mailto:{{ contact_info.email }}"><strong>Email:</strong> {{ contact_info.email }}</a></li>
            <li><a href="{{ contact_info.what_three_words_link }}" target="_blank"><strong>What3Words:</strong> {{ contact_info.what_three_words }}</a></li>
            <li><a href="{{ contact_info.address_link }}" target="_blank"><strong>Address:</strong> {{ contact_info.address }}</a></li>
            <li><a href="tel:{{ contact_info.phone_number }}"><strong>Phone:</strong> {{ contact_info.phone_number }}</a></li>
        </ul>
      
    </div>
{% endblock %}