{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="welcome">
        <h1>CommuniTea Gaming</h1>
        <ul class="welcome_links">
            <li class="welcome_links_item">
                <a href="{% url 'events' %}">What's on</a>
            </li>
            <li class="welcome_links_item">
                <a href="{% url 'bookings:select_table' %}">Book a table</a>
            </li>
            <li class="welcome_links_item">
                <a href="{% url 'about' %}">About us</a>
            </li>
        </ul>
    </div>
    <div class="find_us">
        <h1>Find us</h1>
        <ul>
            <li>
                <a href="https://www.google.com/maps/place/Ortongate+Shopping+Centre/@52.5431068,-0.3042939,17z/data=!3m1!4b1!4m6!3m5!1s0x4877f21ae027413d:0x9da9605db03b52f8!8m2!3d52.5431068!4d-0.301719!16s%2Fg%2F1hc4588t8?entry=ttu&g_ep=EgoyMDI1MDQwMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                    <strong>Our address:</strong> 16-17, Orton Gate Shopping Centre, Orton Goldhay, Peterborough PE2 5TD
                </a>
            </li>
            <li>
                <a href="https://w3w.co/closer.random.kite" target="_blank"><strong>What 3 words:</strong> ///closer.random.kite</a>
            </li>
            <li>
                <a href="mailto:communiteagaming@outlook.com"><strong>Email:</strong> <span class="email">communiteagaming@outlook.com</span></a>
            </li>
            <li>
                <a href="tel:01733"><strong>Call:</strong> 01733</a>
            </li>
        </ul>   
    </div>
{% endblock %}