main {
    color: white;
    margin-top: 17vh;
    padding: 50px clamp(5%, 10vw, 25%);
    background-color: black;
}

.about {
    color: white;
    height: 60vh;
    max-height: 820px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: clamp(10px, 6vw, 30px);

    p {
        width: 100%;
        max-width: 800px;
    }

    .about_social_links {
        display: flex;
        gap: 15px; 
        
        a {
            font-size: 20px;
        }
    }
}

.contact {
    background-color: var(--pri-bg-col);
    padding: 100px clamp(5%, 10vw, 25%);
    h2 {
        font-size: clamp(30px, 6vw, 50px);
        margin-bottom: 30px;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

/* team members */

.team_members {
    display: flex;
    flex-direction: column;
    gap: 25px;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .team_members_content {
        display: flex;
        flex-direction: column;
        gap: 7px;

        .team_members_name {
            font-size: clamp(25px, 6vw, 40px);
        }

        .team_members_role {
            font-size: clamp(20px, 6vw, 30px);

        }
    }
}

.team_members_img {
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 450px;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width: 995px) {
    .team_members {
        li {
            width: 100%;
            flex-direction: row;
            gap: 50px;
            .team_members_content {
                text-align: left;
            }
        }
        li:nth-child(even) {
            flex-direction: row-reverse;
            .team_members_content {
                text-align: right;
            }
        }
    }
}