main {
    background: var(--ter-bg-col);
    color: var(--pri-col);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    gap: 20px;
    padding: 200px clamp(1rem, 10vw, 15%);

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        margin-top: 15px;

        input {
            background: none;
            border: none;
            border-bottom: 1px solid black;
        }

        input::placeholder,
        textarea::placeholder {
            color: rgba(0, 0, 0, 0.386);
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }

        textarea {
            background: none;
            border: none;
            border-bottom: 1px solid black;
        }
    }
}

.headings {
    margin-bottom: clamp(20px, 2%, 40px);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    h1 {
        margin: 0;
    }
}

button a {
    color: inherit;
}

h1 {
    text-align: center;
}

.select-date-time {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: clamp(20px, 4vw, 50px);
}

.tables-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    width: 100%;
}

.tables-list-item {
    border: 1px solid var(--ter-col);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    border-radius: 35px;
    hr {
        width: 100%;
        border-color: var(--ter-col);
        margin: 25px 0;
    }
    button {
        margin-top: 50px;
        color: var(--sec-col);
        background: var(--sec-bg-col);
        padding: 10px 20px;
        
        border-radius: 50px;
        border: none;
        
        cursor: pointer;

        transition: color 0.3s ease;
    }
}

.tables-list-item button:hover {
    color: var(--ter-bg-col);
}


@media (min-width: 960px) {
    .tables-list-item {
        width: 37%;
    }
}

@media (min-width: 1300px) {
    .tables-list-item {
        width: 27%;
    }
}

#time-slot-menu {
    max-width: 360px;
    padding: 30px;
    text-align: center;
    
    border: 1px solid var(--pri-col);
    border-radius: 35px;

    transition: all 0.3s ease;

    h3 {
        margin-bottom: clamp(10px, 6vw, 20px);
    }
}

#availableTimes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    max-height: inherit;
    gap: 4px;
    li {
        min-height: 44px;
        min-width: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;
        background-color: #0000003a;
        
    }
    li.no-times {
        background-color: initial;
        color: var(--pri-col);
    }
}

@media all and (min-width: 1020px) {
    .select-date-time {
        flex-direction: row;
        align-items: flex-start;
    }
    #time-slot-menu {
        width: 30%;
    }
}

/* TODO redundant now? */
#availableTimes li:nth-child(3n - 2):before {  
    filter: var(--meeple-filter-red);
}
#availableTimes li:nth-child(3n - 1):before {  
    filter: var(--meeple-filter-blue);
}
#availableTimes li:nth-child(3n):before {  
    filter: var(--meeple-filter-yellow);
}

.booking-failure-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.booking-failure {
    margin-top: 20px;
    
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.booking-success-header {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#bookAnother {
    display: none;
}

table.availability,
table.bookings {
  border-collapse: collapse;
  width: 100%;
}
table.availability th, table.availability td,
table.bookings th, table.bookings td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}


.booking-availability,
.view_bookings {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookings th {
    min-width: clamp(100px, 10vw, 200px);
}

.booking-cell {
    cursor: pointer;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

/* full calendar */

#calendar {
    max-width: 700px;
    flex: 1;
}