main {
    color: var(--pri-col);
    /* margin-top: 17vh; */
    background-color: var(--ter-bg-col);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px clamp(1rem, 10vw, 15%);
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    font-size: clamp(16px, 6vw, 22px);
}

.contact_list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    li a {
        color: var(--pri-col);
    }
}
