{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
{% endblock %}

{% block content %}
  <div class="booking_failure">
    <h1>Booking Unsuccessful</h1>

    <p>It looks like something didn't go quite right. We've logged the issue, and you're welcome to try again or select a different slot.</p>
    <div class="booking_failure_footer">
      <button><a href="{% url 'bookings:select_table' %}">Try Again</a></button>
      <button><a href="{% url 'contact' %}">Contact Support</a></button>
    </div>
  </div>
{% endblock %}