{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
{% endblock %}

{% block content %}
  <div class="booking_failure">
    <div class="headings">
        <h1>Booking Unsuccessful</h1>
        <h2>So sorry!</h2>
    </div>
    <p>It looks like something didn't go quite right. We've logged the issue, and you're welcome to try again or select a different slot.</p>
    <div class="booking_failure_footer">
      <a class="btn" href="{% url 'bookings:select_table' %}">Try Again</a>
      <a class="btn" href="{% url 'contact' %}">Contact Support</a>
    </div>
  </div>
{% endblock %}