{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js" ></script>
    <script src="{% static 'js/booking_availability.js' %}"></script>    
{% endblock %}

{% block content %}
    <div class="booking_availability">
        <h1>Booking Availability</h1>
        <div>
            <button id="datePrev"><i class="fa-solid fa-chevron-left"></i></button>
            <input type="date" id="datePicker">
            <button id="dateNext"><i class="fa-solid fa-chevron-right"></i></button>
        </div>

        <div id="availabilityTable"></div>

  </div>
{% endblock %}