{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
{% endblock %}

{% block content %}
    <h1>Confirm Your Booking</h1>

    <form method="POST" action="{% url 'bookings:confirm_booking' %}">
        {% csrf_token %}

        <p><strong>Table:</strong> {{ selected_table.name }}</p>
        <p><strong>Time Slot:</strong> {{ selected_time_slot.timeslot|time:"H:i" }}</p>
        <p><strong>Date:</strong> {{ selected_date }}</p>
        <p><strong>Price:</strong> 
            {% if table.price > 0 %}
                £{{ table.price }}
            {% else %}
                (Free)
            {% endif %}
        </p>
        <input type="hidden" name="selected_table" value="{{ selected_table }}">
        <input type="hidden" name="selected_time" value="{{ selected_time_slot.id }}">

        <button type="submit">Confirm Booking</button>
    </form>
{% endblock %}
