{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
{% endblock %}

{% block content %}
    <div class="details">
        <div class="headings">
            <h1>Your Details</h1>
            <h2>We just need a couple of bits</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Continue to Confirmation</button>
        </form>
    </div>
{% endblock %}