{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
{% endblock %}

{% block content %}
    <h1>Book a Table</h1>

    {% if tables %}
        <ul class="tables_list">
            {% for table in tables %}
                <li class="tables_list_item">
                    
                    <h2>{{ table.name }} 
                        <span>
                            {% if table.price > 0 %}
                                (£{{ table.price }})
                            {% else %}
                                (Free)
                            {% endif %}
                        </span>
                    </h2>
                    <hr>
                    <span>{{ table.amount_of_time_hours }} hr</span>
                    <form method="POST" action="{% url 'bookings:select_table' %}">
                        {% csrf_token %}
                        <input type="hidden" name="table" value="{{ table.id }}">
                        <button type="submit">Book Now</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    
    {% else %}
        <p>No tables available.</p>
    {% endif %}
{% endblock %}