{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js" ></script>
    <script type="module" src="{% static 'js/booking-js/select-date-time.js' %}"></script>    
{% endblock %}

{% block content %}
    <h1>When are we thinking?</h1>
    <div id="loadingOverlay">
        <img class="loading-meeple loading-meeple--red" src="{% static 'images/meeple-svgrepo-com.svg' %}" alt="meeple red">
        <img class="loading-meeple loading-meeple--blue" src="{% static 'images/meeple-svgrepo-com.svg' %}" alt="meeple blue">
        <img class="loading-meeple loading-meeple--yellow" src="{% static 'images/meeple-svgrepo-com.svg' %}" alt="meeple yellow">
    </div>
    <div class="select-date-time">
        <div id="calendar"></div>
        <div id="time-slot-menu">
            <h3>Available Times</h3>
            <ul id="availableTimes">
                <li class="no-times">Select a day and we'll let you know what tables are available</li>
            </ul>
            <form id="booking-form" action="{% url 'bookings:select_date_time' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="selected-table-seats" value="{{ selected_table_seats }}">
                <input type="hidden" name="date" id="selected-date-field">
                <input type="hidden" name="time" id="selected-time-field">
            </form>
        </div>
    </div>
{% endblock %}