{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js" ></script>
        <script type="module" src="{% static 'js/view_bookings.js' %}"></script>    
  
{% endblock %}

{% block content %}
    <div class="view_bookings">
        <h1>Bookings</h1>
        <div id="loadingOverlay">
            <img class="loading-meeple loading-meeple--red" src="{% static 'images/meeple-svgrepo-com.svg' %}" alt="meeple red">
            <img class="loading-meeple loading-meeple--blue" src="{% static 'images/meeple-svgrepo-com.svg' %}" alt="meeple blue">
            <img class="loading-meeple loading-meeple--yellow" src="{% static 'images/meeple-svgrepo-com.svg' %}" alt="meeple yellow">
        </div>
        <div class="bookings_header">
            <button id="datePrev"><i class="fa-solid fa-chevron-left"></i></button>
            <input type="date" id="datePicker">
            <button id="dateNext"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
        <div class="table_wrapper">
            <div id="bookingsTable"></div>
        </div>
        <div id="bookingModal" class="modal">
            <div class="modal-content">
                <span class="close"><i class="fa-solid fa-xmark"></i></span>
                <h2>Booking Details</h2>
                <div id="modalDetails"></div>
            </div>
        </div>

  </div>
{% endblock %}