<ul class="nav_list">
    <li class="nav_list_item">
        <a href="{% url 'events' %}">What's on</a>
    </li>
    <li class="nav_list_item">
        <a href="{% url 'bookings:select_table' %}">Book a table</a>
        {% if request.user.is_authenticated and request.user.is_staff %}
            <ul class="nav_list_sub_list">
                <li class="nav_list_sub_list_item">
                    <a href="{% url 'bookings:booking_availability' %}">Availability</a>
                </li>
            </ul>
        {% endif %}
    </li>
    <li class="nav_list_item">
        <a href="{% url 'about' %}">About us</a>
    </li>
    <li class="nav_list_item">
        <a href="{% url 'blog:blog' %}">Blog</a>
    </li>
    <li class="nav_list_item">
        <a href="{% url 'contact' %}">Contact Us</a>
    </li>
</ul>