{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <title>CommiunTea Gaming {% block extra_title %}{% endblock %}</title>

    {% block corecss %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/15fc65683f.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    
</head>
<body>
    <header>
        <div class="logo_container">
            <a href="{% url 'home' %}">
                <img class="logo_image" src="/media/logo_old.jpg" alt="logo" aria-label="logo">
                <span>CommuniTea Gaming</span>
            </a>
        </div>
        <div class="nav_mobile_icon" id="nav_mobile_icon">
            <span class="line__one"></span>
            <span class="line__two"></span>
            <span class="line__three"></span>
        </div>
        <nav id="main-nav">
            <span id="nav_close"><i class="fa-solid fa-xmark"></i></span>
            {% include 'includes/main-nav.html' %}
        </nav>
        <div class="fade"></div>
        <ul class="social_links">
            <li>
                <a class="facebook" href="https://www.facebook.com/profile.php?id=61573046213188" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
                <a class="instagram" href="https://www.instagram.com/communiteagaming/#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a class="discord" href="discord.com" target="_blank" disabled aria-disabled="true"><i class="fa-brands fa-discord"></i></a>
            </li>
        </ul>
    </header>
    
    <main>
        {% if messages %}
            <div class="message_container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}
    </main>
    <footer>
        <a href="#" disabled aria-disabled="true">Made by Marker in the Marsh</a>
    </footer>
</body>

</html>