{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <title>CommiunTea Gaming {% block extra_title %}{% endblock %}</title>

    {% block corecss %}
        <link rel="stylesheet" href="styles/main.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    
</head>
<body>
    <header>
        <div class="logo_container">
            <a href="#">
                <img class="logo_image" src="assets/logo_old.jpg" alt="logo" aria-label="logo">
                <span>CommuniTea Gaming</span>
            </a>
        </div>
        <div class="nav_mobile_icon"><i class="fa-solid fa-bars"></i></div>
        <nav >
            <ul class="nav_list">
                <li class="nav_list_item">
                    <a href="/pages/whats_on.html">What's on</a>
                </li>
                <li class="nav_list_item">
                    <a href="/pages/book_a_table.html">Book a table</a>
                </li>
                <li class="nav_list_item">
                    <a href="/pages/about_us.html">About us</a>
                </li>
                <li class="nav_list_item">
                    <a href="/pages/contact.html">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="fade"></div>
    </header>
    <ul class="social_links">
        <li>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=61573046213188" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
            <a class="youtube" href="#" target="_blank" disabled aria-disabled="true"><i class="fa-brands fa-youtube"></i></a>
        </li>
        <li>
            <a class="instagram" href="https://www.instagram.com/communiteagaming/#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </li>
    </ul>
    <main>
        {% if messages %}
            <div class="message_container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}
    </main>
    <footer>
        <a href="let me know if this is ok" disabled aria-disabled="true">Made by Semi Serious Games</a>
    </footer>
</body>

</html>
<script src="https://kit.fontawesome.com/15fc65683f.js" crossorigin="anonymous"></script>