{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
    <section class="about" aria-labelledby="about-heading">
        <h1 id="about-heading">Who we are</h1>
        <p>{{ who_we_are.text }}</p>
    </section>

    {% if team %}
        <section class="team" aria-labelledby="team-heading">
            <h2 id="team-heading">Meet The Team</h2>
            <ul class="team-members" role="list">
                {% for member in team %}
                <li>
                    {% if member.photo %}
                    <div class="team-members-img-wrapper">
                        <img class="team-members-img" src="{{ member.photo.url }}" alt="Photo of {{ member.name }}">
                    </div>
                    {% endif %}
                    <div class="team-members-content">
                        <h3 class="team-members-name">{{ member.name }}</h3>
                        <p class="team-members-role"><strong>Role:</strong> {{ member.role }}</p>
                        <p class="team-members-bio">{{ member.bio }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}
