{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}

<div class="about">
    <h1>Who we are</h1>
    <p>
        {{ who_we_are.text }}
    </p>
    <ul class="about_social_links">
        <li>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=61573046213188" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
            <a class="discord" href="https://discord.com/" target="_blank"><i class="fa-brands fa-discord"></i></a>
        </li>
        <li>
            <a class="instagram" href="https://www.instagram.com/communiteagaming/#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </li>
    </ul>
</div>

{% if team %}
    <div class="team">
        <h1>Meet Our Team</h1>
        <ul class="team_members">
            {% for member in team %}
            <li>
                {% if member.photo %}
                    <img class="team_members_img" src="{{ member.photo.url }}" alt="{{ member.name }}">
                {% endif %}
                <div class="team_members_content">
                    <h2 class="team_members_name">{{ member.name }}</h2>
                    <p class="team_members_role"><strong>Role:</strong> {{ member.role }}</p>
                    <p class="team_members_bio">{{ member.bio }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}
